/* index.css */

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url("/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}
